{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
    <div class="col-md-12">
    <h2>Um bjórleitina</h2>
    </div>
    </div>
    <div  class="row">
        <div class="col-md-6">

        <p>Bjórleitin er hobbýverkefni eins bjóráhugamanns, Eiríks Ernis Þorsteinssonar, sem þyrsti í gott yfirlit yfir hið íslenska bjórúrval.</p>

        <h3>Hvaðan koma gögnin?</h3>
        <p>Grunngögnunum er safnað af <a href="http://www.vinbudin.is/">síðu vínbúðarinnar</a> með sjálfvirku tóli. Hver bjórtegund er síðan tengd handvirkt við gagnagrunn <a href="https://untappd.com/">Untappd</a> og frekari upplýsingar eru sóttar þaðan.</p>

        <h4>Hvernig er bjórunum raðað í stíla?</h4>
        <p>Stílsupplýsingarnar fást frá Untappd (sjá að ofan), en leitin sjálf notar einfaldaða stíla. Við einföldun var fyrst og fremst tekið tillit til íslenskrar orðræðu og fjölda vörutegunda í hverjum stíl fyrir sig.</p>

        <h3>Hversu oft eru bjórarnir uppfærðir?</h3>
        <p>Birgðastaða og Untappd-einkunnir eru uppfærðar á hverri nóttu. Nýir bjórar eru settir inn ekki sjaldnar en mánaðarlega.</p>
        <p>Nýir bjórar voru síðast settir inn {{ updated_at }}.</p>

        <h3>Kemst ég í gögnin?</h3>
        <p>Já, síðan er með <a href="{% url "beer_search.views.api_doc" %}">API</a> sem gerir ýmis áhugaverð gögn opinber.</p>

        <h3>Kemst ég í kóðann?</h3>
        <p>Já, kóði síðunnar er á <a href="https://github.com/Ernir/bjorleitin">Github</a>.</p>

        <h3>Hvert er samband síðunnar við Vínbúðina?</h3>
        <p>Þessi síða tengist Vínbúðinni ekki á neinn hátt annan en að nota frá henni opinber gögn.</p>
        </div>
        <div class="col-md-6 text-center">
            <h4>Bjórleitin á Facebook</h4>
            <div class="fb-page" data-href="https://www.facebook.com/bjorleit" data-hide-cover="true" data-show-facepile="true" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/bjorleit">
                        <a href="https://www.facebook.com/bjorleit">Bjórleitin</a>
                    </blockquote>
                </div>
            </div>
            <h4>Bjórleitin á Twitter</h4>
            <a class="twitter-timeline" href="https://twitter.com/bjorleitin" data-widget-id="682979569939386368">Tweets by @bjorleitin</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
