{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="api-description">
        <p>Þetta er upplýsingasíða fyrir forritara sem vilja vinna með gögn Bjórleitarinnar.</p>
        <h2>API endapunktar</h2>
        <p>Eftirfarandi endapunktar eru skilgreindir:</p>
        <ul>
            <li><a href="#bjorar">Bjórar</a></li>
            <li><a href="#stilar">Stílar</a></li>
            <li><a href="#ilat">Ílát</a></li>
        </ul>
        <p>Líta skal á þennan API sem svo að hann sé <strong>enn á beta-stigi</strong>. Hann gæti tekið breytingum. </p>
    </div>


    <div class="api-description row">
    <h3 id="bjorar"><a href="#bjorar">Bjórar</a></h3>
    <div class="col-md-6">
        <p>Skilar lista af öllum bjórum sem til voru í Vínbúðinni við síðustu skröpun, ásamt dagsetningu skröpunarinnar. Býður upp á síun líkri þeirri sem er á <a href="{% url "beer_search.views.index" %}">aðalsíðunni</a>.</p>

        <h4>Endapunktur</h4>
        <p><code>GET</code> <a href="{% url "beer_search.views.get_beers" %}"><code>{% url "beer_search.views.get_beers" %}</code></a></p>

        <h4>Viðtökubreytur</h4>
        <ul>

            <li><code>beer_name</code> (valkvæm). Ef strengur er gefinn, útilokar alla bjóra sem ekki hafa strenginn sem hlutstreng í nafni sínu.</li>
            <li><code>styles</code> (valkvæm). Ef tala sem samsvarar auðkenni (id) <a href="#stilar">stíls</a> er gefin, útilokar alla bjóra sem ekki tilheyra þeim stíl. Sé þessi breyta skilgreind oft eru allir bjórar sem ekki tilheyra neinum hinna gefnu stíla útilokaðir.</li>
            <li><code>containers</code> (valkvæm). Ef tala sem samsvarar auðkenni (id) <a href="#ilat">íláts</a> er gefin, útilokar alla bjóra sem ekki eru í slíku íláti. Sé þessi breyta skilgreind oft eru allir bjórar sem ekki eru í neinu ílátanna útilokaðir.</li>
            <li><code>min_volume</code> (valkvæm). Ef tala er gefin, útilokar alla bjóra sem eru minni að rúmmáli í millilítrum heldur en talan.</li>
            <li><code>max_volume</code> (valkvæm). Ef tala er gefin, útilokar alla bjóra sem eru meiri að rúmmáli í millilítrum heldur en talan.</li>
            <li><code>min_price</code> (valkvæm). Ef tala er gefin, útilokar alla bjóra sem kosta lægri krónutölu en talan.</li>
            <li><code>max_price</code> (valkvæm). Ef tala er gefin, útilokar alla bjóra sem kosta hærri krónutölu en talan.</li>
            <li><code>min_abv</code> (valkvæm). Ef tala er gefin, útilokar alla bjóra sem eru með lægri áfengisprósentu en talan.</li>
            <li><code>max_abv</code> (valkvæm). Ef tala er gefin, útilokar alla bjóra sem eru með lægri áfengisprósentu en talan.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Dæmi um svar</h4>
        <pre>
{
    "beers": [
        {
            "style": "Ljósöl (blond)",
            "name": "Affligem Blond",
            "abv": 6.8,
            "container": "Flaska",
            "atvr_id": "21047",
            "price": 454,
            "volume": 330
        },
        {
            "style": "Lager - ljós, almennur",
            "name": "Amstel",
            "abv": 5,
            "container": "Dós",
            "atvr_id": "01514",
            "price": 325,
            "volume": 500
        }
    ],
    "updated_at": "2015-05-01"
}
        </pre>
    </div>
    </div>


    <div class="api-description row">
        <h3 id="stilar"><a href="#stilar">Stílar</a></h3>
        <div class="col-md-6">
            <p>Skilar lista af öllum stílum sem skilgreindir eru í Bjórleitinni.</p>

            <h4>Endapunktur</h4>
            <p><code>GET</code> <a href="{% url "beer_search.views.get_styles" %}"><code>{% url "beer_search.views.get_styles" %}</code></a></p>

            <h4>Viðtökubreytur</h4>
            <p>Engar.</p>
        </div>
        <div class="col-md-6">
            <h4>Dæmi um svar</h4>
            <pre>
{
    "styles": [
        {
            "name": "Ávaxtabjór",
            "id": 24
        },
        {
            "name": "Belgískt öl - sterkt",
            "id": 5
        }
    ]
}
            </pre>
        </div>
    </div>



    <div class="api-description row">
        <h3 id="ilat"><a href="#ilat">Ílát</a></h3>
        <div class="col-md-6">
            <p>Skilar lista af öllum gerðum íláta sem skilgreindar eru í Bjórleitinni.</p>

            <h4>Endapunktur</h4>
            <p><code>GET</code> <a href="{% url "beer_search.views.get_containers" %}"><code>{% url "beer_search.views.get_containers" %}</code></a></p>

            <h4>Viðtökubreytur</h4>
            <p>Engar.</p>
        </div>
        <div class="col-md-6">
            <h4>Dæmi um svar</h4>
            <pre>
{
    "containers": [
        {
            "id": 2,
            "name": "Dós"
        },
        {
            "id": 1,
            "name": "Flaska"
        }
    ]
}
            </pre>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}