{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="bjór, bjórar, leita að bjór, vínbúðin, bjórstílar, bjórflokkar"/>
    {% block metatags %}
    {% endblock %}

    <!-- minified bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- theme -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css"/>

    <!-- library -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>
    {% compress css %}
        <link rel="stylesheet" href="{% static "style.css" %}"/>
    {% endcompress %}

    <link rel="shortcut icon" type="image/png" sizes="16x16 24x24 32x32 48x48" href="{% static "beer.ico" %}"/>

    <title>Bjórleitin
    {% if title %}
        - {{ title }}
    {% endif %}
    </title>
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '453162018180328',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/is_IS/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="content" class="container">
    {% include "navbar.html" %}
    {% block content %}
        This should be overridden.
    {% endblock %}
</div>

{% block footer %}
<div id="footer">
    <div class="container text-muted">
        <p class="small">Bjórleitin er gæluverkefni <a href="mailto:e.ernir@gmail.com?Subject=Bjórleitin" target="_top">Eiríks Ernis Þorsteinssonar</a>. (<a href="{% url "beer_search.views.about" %}">Lesa meira</a>)</p>
    </div>
</div>
{% endblock %}

<!-- minified jQuery -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- minified bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- other libs -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.5/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<!-- common JS -->
{% compress js %}
    <script src="{% static "app.js" %}"></script>

    {% block scripts %}
    {% endblock %}
{% endcompress %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23333818-3', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>