{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    <div class="jumbotron">
        <h1>Bjórleitin</h1>
        <p class="lead">Allir bjórar <a href="http://www.vinbudin.is/">vínbúðarinnar</a> á einum stað.</p>
        <p>
            <a class="btn btn-lg btn-success" href="#leit" role="button">Leita núna</a>
            <a class="btn btn-lg btn-success" href="{% url "beer_search.views.overview" %}" role="button">Yfirlit</a>
        </p>
      </div>
    <div id="leit">
        <div class="col-md-6">
            {% crispy form %}
        </div>
        <div class="col-md-6">
            <p id="results-initial" class="alert alert-info">Fiktaðu í stjórntækjunum til að hefja leit.</p>

            <p id="results-found" class="alert alert-success">bjórar fundust.</p>

            <p id="results-working" class="alert alert-info">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                Er að leita!
            </p>

            <p id="results-none" class="alert alert-info">Ekkert fannst. Má bjóða þér að leita aftur?</p>

            <p id="results-error" class="alert alert-danger">Leitarvélin náði ekki sambandi. Er nettengingin ekki örugglega í lagi?</p>

            <ul id="results-list">
            </ul>
            {% include "small_table.html" %}
        </div>
    </div>
{% endblock %}