{% load staticfiles %}

<meta property="og:url"
      content="http://bjorleit.info/"/>

<meta property="og:type"
      content="website" />

<meta property="og:title"
      content="Bjórleitin" />

<meta property="og:description"
      content="Leitarsíða fyrir bjóra Vínbúðarinnar. Leitaðu eftir bjórstílum, verði og fleiru." />

<meta property="og:image"
      content="{% static "images/logo400x400.png" %}" />

<meta property="fb:app_id"
      content="453162018180328"/>

<meta property="og:locale"
      content="is_IS"/>