{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nafn bjórs</th>
            <th>Stíll</th>
            <th>Ílát</th>
            <th>Styrkur</th>
            <th>Magn</th>
            <th>Verð</th>
            <th>Lítraverð</th>
        </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            <tr>
                <td>
                    <a href="http://www.vinbudin.is/DesktopDefault.aspx/tabid-54?productID={{ beer.atvr_id }}">{{ beer.name }}</a>
                    {% if beer.has_duplicate_name %}
                        ( {{ beer.container.name }}
                        {% if beer.has_duplicate_container %}
                            , {{ beer.volume }} mL
                        {% endif %}
                        )
                    {% endif %}
                </td>
                <td>
                    {% if beer.style %}
                        {{ beer.style }}
                    {% else %}
                        ?
                    {% endif %}
                </td>
                <td>
                    {% if beer.container %}
                        {{ beer.container.name }}
                    {% else %}
                        ?
                    {% endif %}
                </td>
                <td>
                    {{ beer.abv }}%
                </td>
                <td>
                    {{ beer.volume }} mL
                </td>
                <td>
                    {{ beer.price }} kr.
                </td>
                <td>
                    {{ beer.price_per_litre }} kr./L
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}