<table class="table table-hover">
    <thead>
    <tr>
        <th class="beer-name beer-infocolumn">Nafn bjórs</th>
        <th class="beer-style beer-infocolumn">Stíll</th>
        <th class="beer-container beer-infocolumn">Ílát</th>
        <th class="beer-abv beer-infocolumn">Styrkur</th>
        <th class="beer-volume beer-infocolumn">Magn</th>
        <th class="beer-price beer-infocolumn">Verð</th>
        <th class="beer-brewery beer-infocolumn">Brugghús</th>
        <th class="beer-country beer-infocolumn">Land</th>
        <th class="beer-untappd beer-infocolumn">Untappd stjörnur</th>
    </tr>
    </thead>
    <tbody>
    {% for beer in beers %}
        <tr id="beer-{{ beer.atvr_id }}" class="beer-row">
            <td class="beer-name beer-infocolumn">
                <a href="http://www.vinbudin.is/DesktopDefault.aspx/tabid-54?productID={{ beer.atvr_id }}"
                   target="_blank">{{ beer.name }}</a>
                {{ beer.suffix }}
            </td>
            <td class="beer-style beer-infocolumn">
                {% if beer.beer_type.style %}
                    {{ beer.beer_type.style }}
                {% else %}
                    ?
                {% endif %}
            </td>
            <td class="beer-container beer-infocolumn">
                {% if beer.container %}
                    {{ beer.container.name }}
                {% else %}
                    ?
                {% endif %}
            </td>
            <td class="beer-abv beer-infocolumn">
                {{ beer.beer_type.abv }}%
            </td>
            <td class="beer-volume beer-infocolumn">
                {{ beer.volume }} ml
            </td>
            <td class="beer-price beer-infocolumn">
                {{ beer.price }} kr.
            </td>
            <td class="beer-brewery beer-infocolumn">
                {% if beer.beer_type.brewery %}
                    {{ beer.beer_type.brewery }}
                {% else %}
                    ?
                {% endif %}
            </td>
            <td class="beer-country beer-infocolumn">
                {{ beer.beer_type.country }}
            </td>
            <td class="beer-untappd beer-infocolumn">
                {% if beer.beer_type.untappd_rating %}
                    <a href="https://untappd.com/beer/{{ beer.beer_type.untappd_id }}"
                            target="_blank">
                        {{ beer.beer_type.untappd_rating|floatformat:2 }}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>