{% extends "base.html" %}
{% load static %}

{% block metatags %}
    <meta name="description"
          content="Tölulegar staðreyndir um Vínbúðirnar, á myndrænu formi."/>
    {% include "open_graph/og_statistics.html" %}
{% endblock %}

{% block content %}
    <h2>Tölfræði</h2>
    <div id="lager-ale-chart"></div>
    <div id="abv-price-scatter"></div>
    <div id="price-per-alcohol-ml"></div>
    <div id="store-number-chart"></div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    <script src="{% static "stats-and-charts.js" %}"></script>
{% endblock %}