{% if debug %}
    <body>
{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Bjórtegund</th>
        <th>Stíll</th>
        <th>Ílát</th>
        <th>Styrkur</th>
        <th>Magn (ml)</th>
        <th>Verð (kr.)</th>
        <th>Brugghús</th>
        <th>Land</th>
        <th>Untappd</th>
    </tr>
    </thead>
    <tbody>
    {% for beer in product_list %}
        <tr>
            <td> {{ beer.name }}</td>

            <td>{{ beer.style }}</td>

            <td>{{ beer.containers|join:", " }}</td>

            <td>{{ beer.abv }}%</td>

            {% if beer.minVolume == beer.maxVolume %}
                <td>{{ beer.minVolume }}</td>
            {% else %}
                <td>{{ beer.minVolume }} - {{ beer.maxVolume }}</td>
            {% endif %}

            {% if beer.minPrice == beer.maxPrice %}
                <td>{{ beer.minPrice }}</td>
            {% else %}
                <td>{{ beer.minPrice }} - {{ beer.maxPrice }}</td>
            {% endif %}

            <td>{{ beer.brewery }}</td>

            <td>{{ beer.country }}</td>

            {% if beer.untappdRating %}
                <td>{{ beer.untappdRating|floatformat:2 }}</td>
            {% else %}
                <td>?</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if debug %}
    </body>
{% endif %}
