{% load static %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">
                <img src="{% static "images/logo200x200.png" %}" height="40px" width="40px">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url "index" %}" title="Fara á leitarsíðuna">Leita</a></li>
                <li><a href="{% url "styles" %}" title="Yfirlit yfir bjórstíla">Bjórstílar</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" title="Bjórleitin á samfélagsmiðlum">Samfélagsmiðlar<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://twitter.com/bjorleitin" target="_blank">Tilkynningar á Twitter</a></li>
                        <li><a href="https://www.facebook.com/bjorleit/" target="_blank">Bjórleitin á Facebook</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url "about" %}" title="Lesa meira um bjórleitina">Um</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
