{% extends "base-v2.html" %}
{% load staticfiles %}

{% block metatags %}
    {# ToDo include OG info#}
{% endblock %}

{% block sidebar %}
    <div class="col-sm-4 col-md-3 sidebar unimportant-sidebar">
        <p>Allir listar sem bjórleitin hefur skilgreint:</p>
        <ul>
            {% for l in all_lists %}
                <li><a href="{{ l.get_absolute_url }}">{{ l.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% if product_list %}
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <div id="table-container" class="table-responsive">
                {% include "mini-table.html" %}
            </div>
        </div>
    {% else %}
        <p>Veldu lista hér til hliðar.</p>
    {% endif %}
{% endblock %}
