<div class="col-sm-4 col-md-3 sidebar">
    <form id="main-form">
        <div class="form-group">
            <label for="beer-name-filter">Nafn</label>
            <input class="form-control" id="beer-name-filter" name="beer_name" placeholder="Nafn bjórs" type="text"/>
        </div>
        <div class="form-group">
            <label for="brewery-name-filter">Brugghús</label>
            <input class="form-control" id="brewery-name-filter" name="brewery_name" placeholder="Nafn brugghúss"
                   type="text"/>
        </div>
    </form>
</div>
