<div class="col-sm-4 col-md-3 sidebar" xmlns="http://www.w3.org/1999/html">
    {% if show_welcome %}
        <div class="alert alert-info alert-dismissible">
            Velkomin á Bjórleitina! Leitin fer sjálfkrafa í gang þegar leitarskilyrði eru gefin.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form id="main-form">
        <div class="form-group">
            <label for="beer-name-filter">Nafn</label>
            <input class="form-control" id="beer-name-filter" name="beer_name" placeholder="Nafn bjórs" type="text"/>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="brewery-name-filter">Brugghús</label>
                <select id="brewery-name-filter" class="form-control select2-multiple" multiple="multiple">
                    {% for brewery in breweries %}
                        <option value="{{ brewery.alias }}">
                            {{ brewery.alias }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Verð (kr.)</strong></div>
            <div id="price-min-filter" class="col-xs-2 text-center">{{ extremes.min_price }}</div>
            <div id="price-slider" class="col-xs-8 form-slider"></div>
            <div id="price-max-filter" class="col-xs-2 text-center">{{ extremes.max_price }}</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Magn (ml)</strong></div>
            <div id="volume-min-filter" class="col-xs-2 text-center">{{ extremes.min_volume }}</div>
            <div id="volume-slider" class="col-xs-8 form-slider"></div>
            <div id="volume-max-filter" class="col-xs-2 text-center">{{ extremes.max_volume }}</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Styrkur (%)</strong></div>
            <div id="abv-min-filter" class="col-xs-2 text-center">{{ extremes.min_abv }}</div>
            <div id="abv-slider" class="col-xs-8 form-slider"></div>
            <div id="abv-max-filter" class="col-xs-2 text-center">{{ extremes.max_abv }}</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="style-filter">Bjórstílar</label>
                <select id="style-filter" class="form-control input-md select2-multiple" multiple="multiple">
                    {% for style in styles %}
                        <option value="{{ style.name }}">
                            {{ style.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Ílát</strong></div>
            <button id="bottle-button" type="button"
                    class="btn btn-default active container-button col-xs-offset-1 col-xs-4"
                    value="flaska">Flöskur
            </button>
            <button id="can-button"
                    type="button"
                    class="btn btn-default active container-button col-xs-offset-2 col-xs-4"
                    value="dós">Dósir
            </button>
        </div>
        <div class="form-group">
            <label for="country-name-filter">Upprunaland</label>
            <input class="form-control" id="country-name-filter" name="country_name" placeholder="Nafn lands"
                   type="text"/>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Untappd einkunn</strong></div>
            <div id="untappd-min-filter" class="col-xs-2 text-center">0</div>
            <div id="untappd-slider" class="col-xs-8 form-slider"></div>
            <div id="untappd-max-filter" class="col-xs-2 text-center">5</div>
        </div>
        <div class="form-group">
            <label for="store-name-filter">Sölustaður:</label>
            <input class="form-control" id="store-name-filter" name="store_name" placeholder="Nafn verslunar/lista"
                   type="text"/>
        </div>
    </form>
</div>
