<div class="col-sm-4 col-md-3 sidebar" xmlns="http://www.w3.org/1999/html">
    {% if show_welcome %}
        <div class="alert alert-info alert-dismissible">
            Velkomin á Bjórleitina! Leitin fer sjálfkrafa í gang þegar leitarskilyrði eru gefin.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form id="main-form">
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="beer-name-filter">Nafn</label>
                <select id="beer-name-filter" class="form-control input-md select2-multiple" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="brewery-name-filter">Brugghús</label>
                <select id="brewery-name-filter" class="form-control input-md select2-multiple" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Verð (kr.)</strong></div>
            <div id="price-min-filter" class="col-xs-2 text-center">{{ extremes.min_price }}</div>
            <div id="price-slider" class="col-xs-8 form-slider"></div>
            <div id="price-max-filter" class="col-xs-2 text-center">{{ extremes.max_price }}</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Magn (ml)</strong></div>
            <div id="volume-min-filter" class="col-xs-2 text-center">{{ extremes.min_volume }}</div>
            <div id="volume-slider" class="col-xs-8 form-slider"></div>
            <div id="volume-max-filter" class="col-xs-2 text-center">{{ extremes.max_volume }}</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Styrkur (%)</strong></div>
            <div id="abv-min-filter" class="col-xs-2 text-center">{{ extremes.min_abv }}</div>
            <div id="abv-slider" class="col-xs-8 form-slider"></div>
            <div id="abv-max-filter" class="col-xs-2 text-center">{{ extremes.max_abv }}</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Untappd einkunn</strong></div>
            <div id="untappd-min-filter" class="col-xs-2 text-center">0</div>
            <div id="untappd-slider" class="col-xs-8 form-slider"></div>
            <div id="untappd-max-filter" class="col-xs-2 text-center">5</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="style-filter">Bjórstílar</label>
                <select id="style-filter" class="form-control input-md select2-multiple" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12"><strong>Ílát</strong></div>
            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input class="container-filter" type="checkbox" value="dós" checked> Sýna dósir
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="container-filter" type="checkbox" value="flaska" checked> Sýna flöskur
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <label for="country-name-filter">Upprunaland</label>
                <select id="country-name-filter" class="form-control input-md select2-multiple" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="store-name-filter">Sölustaður:</label>
            <select id="store-name-filter" class="form-control input-md select2-multiple" multiple="multiple">
            </select>
        </div>
    </form>
</div>
