/* Search page has multiple alert boxes in HTML,
   hidden on page initialization... */
.alert {
    display: none;
}
/* ... except for this one. */
#results-initial {
    display: block;
}

/* Wrapper for page content to push down footer */
#content {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height*/
    padding: 0 0 160px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
}

/* Facebook button stuff. */

#content > div.jumbotron > div {
    position: relative;
}

.facebook-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 991px) {
    .facebook-wrapper {
        position: relative;
        height: 21px;
        margin-top: 15px;
    }
}

/*
Spinning the load indicator for queries.
Source: http://www.bootply.com/128062
*/

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

/* Slider nonsense*/

/* The slider's in-between color, taken from the theme */
.ui-widget-header {
    background: #18bc9c;
}

/* I have no idea what I am doing. CAVEAT EMPTOR */
@media (min-width: 992px) {
    #volume-slider {
        margin-top: 60px;
    }
    #price-slider {
        margin-top: 40px;
    }
    #abv-slider {
        margin-top: 63px;
    }
}
@media (max-width: 991px) {
    .form-slider {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Initial column hiding on the front page.
   Is overridden once the user starts fiddling. */
.beer-container, .beer-abv, .beer-volume, .beer-price {
    display: none;
}

/* Fixes for labels not being properly bolded */
#div_id_containers > label, #div_id_styles > label {
    font-weight: bold;
}

/* Indicator to show that you'll be clicking something */
label:hover {
    text-decoration: underline;
}

/* Other prettification */
body {
    padding-top: 20px;
}

table thead {
    border-bottom: 1px solid;
}