.navbar-brand {
    padding-top: 10px;
}

.stripe {
    background-color: #f9f9f9;
}

/* Hacking the sliders into place: */
.form-slider {
    margin-top: 5px;
}

/*
Spinning the load indicator for queries.
Source: http://www.bootply.com/128062
*/

.alert {
    display: none;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
